div.node-container {
	width: 960px;
	position: relative;
}

.node {
	margin-bottom: 20px;
	position: relative;
}

.node:hover {
	cursor: pointer;
}

.hotkey {
	position: absolute;
	top:64px;
	left: 120px;
	opacity: 0.1;
	font-size: 135px;
	font-family: Courier;
	z-index: 10000;
}

.bookmark-node {
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(top, #ddd 0, #eee 15%, #fff 40%, #fff 70%, #eee 100%);
	border-radius:5px 30px 5px 5px;
	padding: 10px;
	height: 128px;
}

.bookmark-node:hover {
	box-shadow: 0px 0px 12px 1px #00CC66 inset;
}

.bookmark-node:before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   height: 30px;
   background: #ccc;
   background: linear-gradient(45deg, #fff 0, #eee 50%, #ccc 100%);
   box-shadow: rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-radius:5px 30px 5px 5px;
}

.folder-node {
	border-radius: 5px;
}

.folder-node:hover * {
	border-color: #00CC66;
}

.folder-shape {
	height: 113px;
	position: relative;
	background-color:#93bad8;
	border: 1px solid black;
	margin-top: 15px;
	border-radius:0px 8px 8px 8px;
	z-index: 900;
	padding: 10px;
	font-size: 22px;
	color: #505050;
	font-variant: small-caps;
}

.folder-shape-top {
	height: 15px;
	width: 60px;
	border-radius:8px 8px 0 0;
    background-color:#93bad8;
    border: 1px solid black;
    border-width: 1px 1px 0 1px;
    position: absolute;
    top: 0px;
    z-index: 1000;
}



.arrow-button {
	width: 100px;
	position: absolute;
	top: 325px;
}

ul.breadcrumb {
	margin-left: 20px;
}

h2.title {
	margin-left: 20px;
}



img.favicon {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 10px;
	bottom: 10px;
}
