div.node-container {
	width: 1070px;
}

.bookmark-node {
	border: 3px solid black;
	margin-bottom: 20px;
	height: 140px;
	padding: 10px;
	border-radius: 10px;
}

.bookmark-node.folderNode {
	background-color: #33FF99;
}

.bookmark-node:hover {
	background-color: red;
	cursor: pointer;
}