div.node-container {
	width: 1064px;
	position: relative;
}

.node {
	margin-bottom: 20px;
	height: 140px;
	padding: 10px;
	position: relative;
}

.node:hover {
	cursor: pointer;
}

.bookmark-node {
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(top, #ddd 0, #eee 15%, #fff 40%, #fff 70%, #eee 100%);
	border-radius:5px 30px 5px 5px;
	box-shadow:inset rgba(255,255,255,0.8) 0 1px 1px;
	padding: 10px;
}

.bookmark-node:before {
   content: "";
   display: block;
   position: absolute;
   top: 0;
   right: 0;
   width: 30px;
   height: 30px;
   background: #ccc;
   background: linear-gradient(45deg, #fff 0, #eee 50%, #ccc 100%);
   box-shadow: rgba(0,0,0,0.05) -1px 1px 1px, inset white 0 0 1px;
   border-bottom: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-radius:5px 30px 5px 5px;
}

.folder-node {
	border: 1px solid black;
	border-radius: 5px;
}

.hotkey {
	position: absolute;
	top:65px;
	left: 60px;
	opacity: 0.1;
	font-size: 160px;
	font-weight: bold;
}

.arrow-button {
	width: 100px;
	position: absolute;
	top: 325px;
}

ul.breadcrumb {
	margin-left: 20px;
}

h2.title {
	margin-left: 20px;
}

/* new stuff */

.folder-shape {
	height: 130px;
}

/* examples */
.folder {
    /* This will enable the 3D effect. Decrease this value
     * to make the perspective more pronounced: */
     margin-top: 10px;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    perspective: 800px;

    /*position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;*/

    width: 220px;
    height: 130px;
    /*margin: -100px 0 0 -60px;*/
}

.folder div{
    width:200px;
    height:155px;

    background-color:#93bad8;

    /* Enabling 3d space for the transforms */
    /*-webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;*/

    /* Enabling a smooth animated transition */
    /*-webkit-transition:0.5s;
    -moz-transition:0.5s;
    transition:0.5s;*/

    /* Disable text seleltion on the folder */
    /*-webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;*/

    /*position:absolute;
    top:0;
    left:50%;
    margin-left:-75px;*/
}

/*.folder .front{
    border-radius:5px 5px 0 0;

    -moz-transform:rotateX(-30deg);
    -webkit-transform:rotateX(-30deg);
    transform:rotateX(-30deg);

    -moz-transform-origin:50% 100%;
    -webkit-transform-origin:50% 100%;
    transform-origin:50% 100%;

    background-image: -moz-linear-gradient(top, #93bad8 0%, #6c9dc0 85%, #628faf 100%);
    background-image: -webkit-linear-gradient(top, #93bad8 0%, #6c9dc0 85%, #628faf 100%);
    background-image: linear-gradient(top, #93bad8 0%, #6c9dc0 85%, #628faf 100%);

    box-shadow:0 -2px 2px rgba(0,0,0,0.1), 0 1px rgba(255,255,255,0.35) inset;

    z-index:10;

    font: bold 26px sans-serif;
    color: #5A88A9;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.1);
    line-height: 115px;
}*/

.folder .back{
    background-image: -webkit-linear-gradient(top, #93bad8 0%, #89afcc 10%, #5985a5 60%);
    background-image: -moz-linear-gradient(top, #93bad8 0%, #89afcc 10%, #5985a5 60%);
    background-image: linear-gradient(top, #93bad8 0%, #89afcc 10%, #5985a5 60%);

    border-radius:0 5px 0 0;
    box-shadow:0 -1px 1px rgba(0,0,0,0.15);
}

/* The top part */
.folder .back:before{
    content:'';
    width:60px;
    height:10px;
    border-radius:4px 4px 0 0;
    background-color:#93bad8;
    position:absolute;
    top:-10px;
    left:0px;
    box-shadow:0 -1px 1px rgba(0,0,0,0.15);
}

/* The shadow */
/*.folder .back:after{
    content:'';
    width:100%;
    height:4px;
    border-radius:5px;
    position:absolute;
    bottom:5px;
    left:0px;
    box-shadow:0 4px 8px #333;
}*/