div.node-container {
	width: 1064px;
	position: relative;
}

.bookmark-node {
	border: 3px solid black;
	margin-bottom: 20px;
	height: 140px;
	padding: 10px;
	border-radius: 10px;
}

.bookmark-node.folderNode {
	background-color: #33FF99;
}

.bookmark-node:hover {
	background-color: red;
	cursor: pointer;
}

.arrow-button {
	width: 100px;
	position: absolute;
	top: 325px;
}

ul.breadcrumb {
	margin-left: 20px;
}

h2.title {
	margin-left: 20px;
}